@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #f9f4e3;
    font-family: "Balthazar", serif;
    font-weight: 400;
    font-size: 1.15em;
    color: #1C1C1C;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

label{
    font-size: 1em;
}

header{
    display: flex;
    justify-content: center;
    width:100%;
    padding: 3% 0;
    border-bottom: #1C1C1C solid 1px;
}

a{
    text-decoration: none;
}


#div-principal {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #d4ddb1;
    margin-top: 15%;
}

.section-verde,
.section-marrom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding: 2%;
    padding-bottom: 2.5%;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    border-radius: 50px;
    
} 

.form-marrom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.input{
    border-radius: 15px;
}

.div-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

.label-form,
.h2-marrom{
    color: #F9F4E3;
}

.link-header,
.cancelar{
    color:#1C1C1C;
}

.link-principal{
    margin-bottom: 12%;
}

.h2-verde, 
.link-principal{
    background-color: #d4ddb1;
}

.link-principal:visited{
    color: #7A6448;
}
.link-principal:hover{
    color: #CDB28A;
}

.h2-marrom,
.section-marrom, 
.form-marrom,
.div-row,
.label-form,
td{
    background-color: #7a6448;
}

.confirmar,
.section-verde{
    background-color: #d4ddb1;
}

.cancelar,
#btn-editar{
    display: flex;
    border: #1C1C1C solid 1px;
    border-bottom: #1C1C1C solid 2px;
    border-right: #1C1C1C solid 2px;
    align-items: center;
    justify-content: center;
}


.cancelar,
.confirmar
{
    height: 10vh;
    border-radius: 10px;
}

#btn-deletar,
#btn-editar{
    border-radius: 10px;
    font-size: 1em;
    height: 7vh;
}

.cancelar{
    background: #CDB28A;
}

.h2-marrom{
    margin-bottom: 5%;
}

#a-sucesso{
    padding: 0.5%;
}

#section-sucesso{
    height: 50vh;
}

table{
    background-color: #7a6448;
    padding:  1% 1% 5% 1%;
    margin: 3% 1% 1% 1%;
    border-radius: 15px;
}

th{
    background-color: #CDB891;
}

td{
    height: 10vh;
}

td, 
th{
    border: #1C1C1C solid 2px;
    width: 16vw;
}

#td-opcao{
    display: flex;
    flex-direction: row;
}

#btn-deletar{
    background-color: #B1BA8E;
    margin: 5% 2%;
}

#btn-editar{
    background-color: #D4DDB1;
    margin-top: 5%;
}



