<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            BIBLIOTECA - ATUALIZAR
        </title>
    </head>
    <body>
        <header>
            <h1> <a th:href="@{/}">SISTEMA BIBLIOTECA</a> </h1>
            <nav>
                <ul>
                    <li><a th:href="@{/cadastro}">Cadastrar Livro</a></li>
                    <li><a th:href="@{/livros}">PesquisarLivro</a></li>
                </ul>
            </nav>
        </header>

        <h2>Atualizar Livro</h2>

        <form th:action="@{'/atualizar/'+${id}}" th:object="${livro}" method="post">
            Título: <input type="text" id="nome" name="nome" th:field="*{nome}"><br>
            Ano:<input type="number" id="ano" name="ano" th:field="*{ano}"><br>
            Autor:<input type="text" id="autor" name="autor" th:field="*{autor}" ><br>
            Editora:<input type="text" id="editora" name="editora" th:field="*{editora}">
            <br>
            <button type="submit" value="Aualizar" name="atualizar">Atualizar</button>
        </form>
        <a th:href="@{/}">Voltar para Inicio</a>
    </body>
</html>