<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            BIBLIOTECA - LIVROS
        </title>
    </head>
    <body>
        <header>
            <h1> <a th:href="@{/}">SISTEMA BIBLIOTECA</a> </h1>
            <nav>
                <ul>
                    <li><a th:href="@{/cadastro}">Cadastrar Livro</a></li>
                    <li><a th:href="@{/atualizar}">Atualizar Livro</a></li>
                </ul>
            </nav>
        </header>

        <table border="1">
            <thead>
              <tr>
                <th>Código do Livro</th>
                <th>Nome</th>
                <th>Ano</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}"></td>
                <td th:text="${livro.nome}"></td>
                <td th:text="${livro.ano}"></td>
                <td th:text="${livro.autor}"></td>
                <td th:text="${livro.editora}"></td>
                <td>
                    <a th:href="@{'/atualizar/'+${livro.id}}">Editar</a>
                </td>
                <td>
                    <form th:action="@{'/excluir/' + ${livro.id}}" method="post">
                        <input type="submit" value="Apagar">
                    </form>
                </td>
            </tr>
            </tbody>
          </table>

        <a th:href="@{/}">Voltar para Inicio</a>
    </body>
</html>