<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            BIBLIOTECA - PRINCIPAL
        </title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <header>
            <h1> 
                <a th:href="@{/}" class="link-header">SISTEMA BIBLIOTECA</a> 
            </h1>
        </header>
        
        <section class="section-verde"> 
            <h2 class="h2-verde">Menu de navegação</h2>
            <div id="div-principal">
                <a th:href="@{/cadastro}" class="link-principal">Cadastrar Livro</a>

                <a th:href="@{/livros}" class="link-principal">Ver Livros</a>

                <a th:href="@{/cadastro}" class="link-principal"> Adicionar livro</a>

            </div>
        </section>

    </body>
</html>