<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            BIBLIOTECA - SUCESSO
        </title>
    </head>
    <body>
        <header>
            <h1>
                <a th:href="@{/}">SISTEMA BIBLIOTECA</a>
            </h1>
            <nav>
                <ul>
                    <li><a th:href="@{/cadastro}">Cadastrar Livro</a></li>
                    <li><a th:href="@{/atualizar}">Atualizar Livro</a></li>
                    <li><a th:href="@{/excluir}">Excluir Livro</a></li>
                    <li><a th:href="@{/pesquisar}">PesquisarLivro</a></li>
                </ul>
            </nav>
        </header>

        <h2>
            Sucesso!
        </h2>

        <a th:href="@{/}">Voltar para Inicio</a>
    </body>
</html>