<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            BIBLIOTECA - SUCESSO
        </title>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>

        <header>
            <h1> 
                <a th:href="@{/}" class="link-header">SISTEMA BIBLIOTECA</a> 
            </h1>
        </header>

        <section id="section-sucesso" class="section-verde">
            <h2 class="h2-verde">
                Sucesso!
            </h2>

            <a th:href="@{/}" id="a-sucesso" class="cancelar">Voltar para Inicio</a>

        </section>
        
    </body>
</html>